.swiper-pagination{
    position: relative !important;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 15px 0;
}

.swiper-wrapper{
    gap: 24px;

}

.swiper-slide{
    width: 224px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px ;
}

.img-swapper{
    max-width: 108px;
    height: 32px;
    display: block;
    text-align: center;
    margin: 20px 0;
}

svg{
    margin: 16px 0;
}

@media (min-width:768px){
    .swiper-pagination{
        display: none;
    }
    .swiper-wrapper{
        max-height: 180px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .swiper-wrapper--active{
        max-height: none;
        height: auto;
    }
    
}


.swiper__button{
    display: flex;
    border: none;
    background-color: #ffff ;
}

